code {
    color: gray;
}

div.settings {
    border: 1px solid red;
    margin: 3px;
}
div.password {
    border: 1px solid blue;
    margin: 3px;
}
div.form {
    border: 1px solid pink;
    margin: 3px;
}